<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Take a Hike: A Community Based Hiking App</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWhUx90YlDmrsZA_Ov3oRskef1dQQY2w8&libraries=places"></script>
    <script type="text/javascript" src="bower_components/validator-js/validator.min.js"></script>
    <script src="js/map.js"></script>
    <script src="js/form.js"></script>

  </head>

  <body>

    <div id="main-content">
      <div  class="jumbotron banner">
        <h1>Take a Hike</h1>
        <p><b>Ever wanted to go hiking but not sure where? <br/> Well, Take a Hike can help.</b></p>
      </div>
    </div>


    <div class="body-content">
      <div id="notification-error"></div>
      <div id="notification-success"></div>
      <div id="map-search" class="col-sm-12 col-md-8">
        <input id="search-input" class="controls" type="text" placeholder="Search">
        <div id="map"></div>
      </div>

    <div class="col-sm-12 col-md-4">

      <h2>Add a trail</h2>
      <div>
        <ul>
          <li class="errors-blank" aria-live="polite" ></li>
          <li class="errors-type" aria-live="polite" ></li>
          <li class="errors-user" aria-live="polite" ></li>
        </ul>
      </div>
      <form id="add-trail" name="/" action="/" method="post"
      onsubmit="return formValidation()" enctype="application/x-www-form-urlencoded" novalidate>
        <div>
          <label for="trailName">Trail Name</label>
          <input type="text" name="trailName" max="150" min="3" id="trailName">
        </div>
        <div id="lat-field">
          <label for="lat">Latitude</label>
          <input type="text" name="lat" id="lat">
        </div>
        <div id="lng-field">
          <label for="long">Longitude</label>
          <input type="text" name="long" id="long">
        </div>
        <div>
          <label for="description">Description</label>
          <input type="text" name="description" id="description">
        </div>
        <div>
          <label for="review">Review</label>
          <input type="text" name="review" id="review">
        </div>
        <div>
          <label for="username">Username</label>
          <input type="text" name="username" maxlength="25" min="2" id="user">
        </div>
        <divs>
          <button type="submit" class="btn submit-btn">Submit</button>
          <div id="other"></div>
       </div>
      </form>

      <div class="col-sm-12 trails">
        <h2>Trails Near You</h2>
        <div id="trails-near-you">

        </div>
      </div>

    </div>


  </body>

</html>
