<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Take a Hike: A Community Based Hiking App</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA94XjFCQuzEaXfEoL8-KshyX5e_65MmCM&libraries=places"></script>
    <script type="text/javascript" src="bower_components/validator-js/validator.min.js"></script>
    <script src="js/map.js"></script>
    <script src="js/form.js"></script>

  </head>

  <body>

    <div id="main-content">
      <div  class="jumbotron banner">
        <h1>Take a Hike</h1>
        <p><b>Ever wanted to go hiking but not sure where? <br/> Well, Take a Hike can help.</b></p>
      </div>
    </div>


    <div class="body-content">
      <div id="notification-error"></div>
      <div id="notification-success"></div>
      <div id="map-search" class="col-sm-12 col-md-8">
        <!-- <input id="search-input" class="controls" type="text" placeholder="Search"> -->
        <div id="map"></div>
      </div>

    <div class="col-sm-12 col-md-4">

      <div id="form-btn">
        <h2 id="right">Add a trail</h2>
        <h2 id="left">Find a Trail</h2>
      </div>

        <div class="clearfix errors">
          <ul>
            <li class="errors-blank" aria-live="polite" ></li>
            <li class="errors-type" aria-live="polite" ></li>
            <li class="errors-user" aria-live="polite" ></li>
          </ul>
        </div>
      <div>
        <form id="add-trail" class="clearfix" name="/" action="/" method="post"
        onsubmit="return formValidation()" enctype="application/x-www-form-urlencoded" novalidate>
          <div>
            <label for="trailName">Trail Name</label>
            <input name="trailName" class="search-input" max="150" min="3" class="controls" type="text" placeholder="Enter Trail">
          </div>
          <div id="lat-field">
            <label for="lat">Latitude</label>
            <input type="text" name="lat" id="lat">
          </div>
          <div id="lng-field">
            <label for="long">Longitude</label>
            <input type="text" name="long" id="long">
          </div>
          <div>
            <label for="description">Description</label>
            <input type="text" name="description" id="description">
          </div>
          <div>
            <label for="review">Review</label>
            <input type="text" name="review" id="review">
          </div>
          <div>
            <label for="username">Username</label>
            <input type="text" name="username" maxlength="25" min="2" id="user">
          </div>
          <div>
            <button type="submit" class="btn submit-btn">Submit</button>
         </div>
        </form>
      </div>

    <div>
        <form id="find" class="clearfix" action="/find" name="/" action="/" method="get"
        onsubmit="return findForm()" enctype="application/x-www-form-urlencoded" novalidate>

          <div>
            <label for="current">User Current Location:</label>
              <div class="radio-btn-group-current">
                <input class="radio-btn" type="radio" name="current" value=true checked><span class="input-label">Yes</span>
                <input  class="radio-btn" type="radio" name="current" value=false><span class="input-label">No</span>
              </div>
          </div>
          <div>
            <label for="distance">Distance</label>
            <div class="radio-btn-group-distance">
              <input class="radio-btn" type="radio" name="distance" value="0.10" checked><span class="input-label">10 km</span>
              <input  class="radio-btn" type="radio" name="distance" value="0.20"><span class="input-label">20 km</span>
              <input class="radio-btn" type="radio" name="distance" value="0.50" checked><span class="input-label">50 km</span>
              <input  class="radio-btn" type="radio" name="distance" value="1.00"><span class="input-label">100 km</span>
            </div>
          </div>
          <div>
            <label for="new_location">Enter Location:</label>
            <input name="new_location" class="search-input" class="controls" type="text" placeholder="Enter Location">
          </div>
          <div>
            <button type="search" class="btn submit-btn">Search</button>
         </div>
        </form>
      </div>
    </div>
  </div>

      <div class="col-sm-12 trails">
        <h2>Trails Near You</h2>
        <div>
          <ul id="trails-near-you">

          </ul>

        </div>
      </div>



  </body>

</html>
