body {
  width: 100vw;
  height: 100vh;
}

#map {
  height: 500px;
  width: 100%;
  padding: 5%;
  box-sizing: border-box;
}


#search-input {
  width: 50%;
  height: 1em;
  padding: 2%;
}

.body-content h2 {
  font-size: 1.5em;
}

.body-content input {
  border: 1px solid #000;
  margin: 1% 0;
}

.jumbotron {
  padding-left: 5%;
}
