body {
  width: 100vw;
  height: 100vh;
}

#main-content {
  float: left;
  margin: 5%;
}

#map {
  height: 500px;
  width: 100%;
  padding: 5%;
  box-sizing: border-box;
}

aside {
  float: left;
  margin: 5%;
}

#search-input {
  width: 50%;
}
