body {
  width: 100vw;
  height: 100vh;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.banner {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
  background: linear-gradient(135deg, rgba(255,255,255,0.75) 0%,rgba(255,255,255,0) 100%), url("../images/IMG_0696.jpg") no-repeat center/140vw auto; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: -moz-linear-gradient(-45deg, rgba(255,255,255,0.75) 0%, rgba(255,255,255,0) 100%), url("../images/IMG_0696.jpg") no-repeat center/140vw auto;/* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(255,255,255,0.75) 0%,rgba(255,255,255,0) 100%), url("../images/IMG_0696.jpg") no-repeat center/140vw auto;/* Chrome10-25,Safari5.1-6 */
}

.jumbotron {
  margin: 0;
}

.banner h1, p {
  color: rgb(12, 28, 115);
  padding: 1vh 5vw;
}

#map {
  height: 500px;
  width: 100%;
  padding: 2vh 0;
  box-sizing: border-box;
}


#search-input {
  width: 50%;
  height: 1em;
  padding: 2%;
}

.body-content {
  width: 90vw;
  margin: 5% 5vw;
}

.body-content h2 {
  font-size: 1.5rem;
  text-align: center;
}

.body-content input {
  border: 1px solid #000;
  margin: 1% 0;
}


#add-trail label {
  text-align: right;
  display: inline-block;
  float: left;
  clear: both;
}

#add-trail input {
  width: 65%;
  float: right;
}

button.submit-btn {
  margin-top: 2%;
  margin-left: 50%;
  margin-right: 50%;
}

.trails {
  margin: 2vh 0;
}

.invalid {
  box-shadow: 0 0 5px 1px red;
}

.invalid:focus {
  outline: none;
}
